{% extends ':template:dashboard.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.role) }}
                    {% if form.created_at is defined %}
                        {{ form_row(form.created_at) }}
                    {% endif %}
                    {% if form.deleted_at is defined %}
                        {{ form_row(form.deleted_at) }}
                    {% endif %}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}