{% extends ':template:dashboard.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 1.5em;">
                <div class="btn-group" role="group">
                    <a class="btn btn-success" href="{{ path('haru_role_role_create', {}) }}">
                        {{ 'route.haru_role_role_create'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% set head = [ '#', 'haru.role.role.role' ] %}
                {% set body = [ 'id', 'role' ] %}
                {% set actions = {
                    'edit': { 'route': 'haru_role_role_edit', 'parameters': { 'id': 'id' } },
                    'delete': { 'route': 'haru_role_role_delete', 'parameters': { 'id': 'id' } }
                } %}

                {% set data = roles %}

                {% include ':template:table.html.twig' %}
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-sm-12">
                {% include ':template:pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}