{% extends ':template:dashboard.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 1.5em;">
                <div class="btn-group" role="group">
                    <a class="btn btn-success" href="{{ path('number_number_create', {}) }}">
                        {{ 'route.number_number_create'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% set head = [ '#', 'number.number.number' ] %}
                {% set body = [ 'id', 'number' ] %}
                {% set actions = {
                    'edit': { 'route': 'number_number_edit', 'parameters': { 'id': 'id' } },
                    'delete': { 'route': 'number_number_delete', 'parameters': { 'id': 'id' } }
                } %}

                {% set data = numbers %}

                {% include ':template:table.html.twig' %}
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-sm-12">
                {% include ':template:pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}