{% extends ':template:index.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {{ number }}
            </div>
        </div>
    </div>
{% endblock %}