{% extends ':template:index.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if form.subject is defined %}
                        {{ form_row(form.subject) }}
                    {% endif %}
                    {{ form_row(form.from) }}
                    {{ form_row(form.body) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}