{% use ':theme:default.html.twig' %}

{##}

{# anchor macro #}
{% macro anchor(label, path, title, glyphicon) -%}
    {% spaceless -%}
        {{ block('anchor_start') -}}
        {% if glyphicon is not null %}
            {{ _self.glyphicon(glyphicon) }}
        {% else %}
            {{ label }}
        {% endif %}
        {{- block('anchor_end') }}
    {%- endspaceless %}
{%- endmacro %}

{##}

{# glyphicon macro #}
{% macro glyphicon(glyphicon) -%}
    {% spaceless -%}
        {{ block('glyphicon_start') -}}
        {{- block('glyphicon_end') }}
    {%- endspaceless %}
{%- endmacro %}
