{% use ':theme:flashbag.html.twig' %}

{# flashbag macro #}
{% macro flashbag(data, options) -%}
    {% spaceless -%}
        {{ block('flashbag_start') -}}
        {{ _self.flashbag_items(data, options) }}
        {{- block('flashbag_end') }}
    {%- endspaceless %}
{%- endmacro %}

{# flashbag_item macro #}
{% macro flashbag_items(data, options) -%}
    {% spaceless -%}
        {% for type, typeValues in data %}
            {% for key, value in typeValues %}
                {{ block('flashbag_item_start') -}}
                {{ _self.flashbag_item(type, value, options) }}
                {{- block('flashbag_item_end') }}
            {% endfor %}
        {% endfor %}
    {%- endspaceless %}
{%- endmacro %}

{# flashbag_item macro #}
{% macro flashbag_item(type, data, options) -%}
    {% spaceless -%}
        {{ _self.flashbag_item_content(type, data, {}) }}
    {%- endspaceless %}
{%- endmacro %}

{# flashbag_item_content macro #}
{% macro flashbag_item_content(type, data, options) -%}
    {% spaceless -%}
        {{- block('flashbag_item_content') -}}
    {%- endspaceless %}
{%- endmacro %}
