{% use ':theme:pagination.html.twig' %}

{# pagination macro #}
{% macro pagination(data, options) -%}
    {% spaceless -%}
        {{ block('pagination_start') -}}

        {% set page = options.parameters.page %}
        {% set pages = data|length %}

        {% set previous = '#' %}
        {% set next = '#' %}
        {% set previousDisabled = true %}
        {% set nextDisabled = true %}

        {% if options.parameters.page is defined %}
            {% set page = options.parameters.page %}

            {% if page > 1 %}
                {% set previous = path(options.route, options.parameters|merge({ page: page - 1 })) %}
                {% set previousDisabled = false %}
            {% endif %}

            {% if page < (pages - 1) %}
                {% set next = path(options.route, options.parameters|merge({ page: page + 1 })) %}
                {% set nextDisabled = false %}
            {% endif %}
        {% endif %}

        <li{% if previousDisabled %} class="disabled"{% endif %}>
            <a href="{{ previous }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {{ _self.pagination_items(data, options) }}

        <li{% if nextDisabled %} class="disabled"{% endif %}>
            <a href="{{ next }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{- block('pagination_end') }}
    {%- endspaceless %}
{%- endmacro %}

{# pagination_item macro #}
{% macro pagination_items(data, options) -%}
    {% spaceless -%}
        {% for key, value in data %}
            {% set current = false %}

            {% if key + 1 == options.parameters.page %}
                {% set current = true %}
            {% endif %}

            {{ block('pagination_item_start') -}}
            {{ _self.pagination_item(value, options|merge({current: current})) }}
            {{- block('pagination_item_end') }}
        {% endfor %}
    {%- endspaceless %}
{%- endmacro %}

{# pagination_item macro #}
{% macro pagination_item(data, options) -%}
    {% spaceless -%}
        {{ _self.pagination_item_content(data, {}) }}
    {%- endspaceless %}
{%- endmacro %}

{# pagination_item_content macro #}
{% macro pagination_item_content(data, options) -%}
    {% spaceless -%}
        {{- block('pagination_item_content') -}}
    {%- endspaceless %}
{%- endmacro %}
