{% use ':theme:table.html.twig' %}

{# table macro #}
{% macro table(data, options) -%}
    {% spaceless -%}
        {{ block('table_start') -}}
        {% if data.body is defined and data.body is iterable %}
            {{ block('table_body_start') -}}
            {% set body = data.body %}
            {% if body|length > 0 %}
                {% for key, value in body %}
                    {{ _self.row(value, {}) }}
                {% endfor %}
            {% else %}
                {{ _self.row([ 'No results found'|trans ], { colspan: data.head.0|length }) }}
            {% endif %}
            {{- block('table_body_end') }}
        {% endif %}
        {% if data.head is defined and data.head is iterable %}
            {{ block('table_head_start') -}}
            {% set head = data.head %}
            {% for key, value in head %}
                {{ _self.row(value, { translate: true }) }}
            {% endfor %}
            {#<tr class="row">#}
                {#<form method="post" action="">#}
                {#<td><input/></td>#}
                {#<td><input/></td>#}
                {#<td><input type="submit" class="btn btn-success"/></td>#}
                {#</form>#}
            {#</tr>#}
            {{- block('table_head_end') }}
        {% endif %}
        {% if data.foot is defined and data.foot is iterable %}
            {{ block('table_foot_start') -}}
            {% set foot = data.foot %}
            {% for key, value in foot %}
                {{ _self.row(value, {}) }}
            {% endfor %}
            {{- block('table_foot_end') }}
        {% endif %}
        {{- block('table_end') }}
    {%- endspaceless %}
{%- endmacro %}

{# row macro #}
{% macro row(data, options) -%}
    {% spaceless -%}
        {{ block('table_row_start') -}}
        {% for cell in data %}
            {{ _self.cell(cell, options) }}
        {% endfor %}
        {{- block('table_row_end') }}
    {%- endspaceless %}
{%- endmacro %}

{# cell macro #}
{% macro cell(data, options) -%}
    {% spaceless -%}
        {{ block('table_cell_start') -}}
        {% if data is defined and data is not null %}
            {{ block('table_cell_content') }}
        {% else %}
            {{ block('table_cell_content_empty') }}
        {% endif %}
        {{- block('table_cell_end') }}
    {%- endspaceless %}
{%- endmacro %}
