{# anchor start block #}
{% block anchor_start -%}
    <a href="{{ path }}"{% if title is defined %} title="{{ title }}"{% endif %}>
{%- endblock %}

{# anchor end block #}
{% block anchor_end -%}
    </a>
{%- endblock %}

{# anchor contetn block #}
{% block anchor_content -%}
    {{ label }}
{%- endblock %}

{##}

{# glyphicon start block #}
{% block glyphicon_start -%}
    <span class="glyphicon{% if glyphicon is defined %} glyphicon-{{ glyphicon }}{% endif %}" aria-hidden="true">
{%- endblock %}

{# glyphicon end block #}
{% block glyphicon_end -%}
    </span>
{%- endblock %}
