{# flashbag start block #}
{% block flashbag_start -%}
    <div class="col-sm-12">
{%- endblock %}

{# flashbag end block #}
{% block flashbag_end -%}
    </div>
{%- endblock %}

{# flashbag item start block #}
{% block flashbag_item_start -%}
    <div class="alert alert-success" role="alert">
{%- endblock %}

{# flashbag item end block #}
{% block flashbag_item_end -%}
    </div>
{%- endblock %}

{# flashbag item content block #}
{% block flashbag_item_content -%}
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ data }}
{%- endblock %}
