{# pagination start block #}
{% block pagination_start -%}
    <nav>
        <ul class="pagination">
{%- endblock %}

{# pagination end block #}
{% block pagination_end -%}
        </ul>
    </nav>
{%- endblock %}

{# pagination item start block #}
{% block pagination_item_start -%}
    <li{% if current is defined and current %} class="active"{% endif %}>
{%- endblock %}

{# pagination item end block #}
{% block pagination_item_end -%}
    </li>
{%- endblock %}

{# pagination item content block #}
{% block pagination_item_content -%}
    {{ data }}
{%- endblock %}
