{# table start block #}
{% block table_start -%}
    <table class="table table-striped table-hover">
{%- endblock %}

{# table end block #}
{% block table_end -%}
    </table>
{%- endblock %}

{# table head start block #}
{% block table_head_start -%}
    <thead>
{%- endblock %}

{# table head end block #}
{% block table_head_end -%}
    </thead>
{%- endblock %}

{# table body start block #}
{% block table_body_start -%}
    <tbody>
{%- endblock %}

{# table body end block #}
{% block table_body_end -%}
    </tbody>
{%- endblock %}

{# table foot start block #}
{% block table_foot_start -%}
    <tfoot>
{%- endblock %}

{# table foot end block #}
{% block table_foot_end -%}
    </tfoot>
{%- endblock %}

{# table row start block #}
{% block table_row_start -%}
    <tr class="row">
{%- endblock %}

{# table row end block #}
{% block table_row_end -%}
    </tr>
{%- endblock %}

{# table cell start block #}
{% block table_cell_start -%}
    {% set colspan = false %}
    {% if options is defined and options.colspan is defined %}
        {% set colspan = options.colspan %}
    {% endif %}
    <td{% if colspan %} colspan="{{ colspan }}"{% endif %}>
{%- endblock %}

{# table cell end block #}
{% block table_cell_end -%}
    </td>
{%- endblock %}

{# table cell content block #}
{% block table_cell_content -%}
    {% set translate = false %}

    {% if options.translate is defined  %}
        {% set translate = options.translate %}
    {% endif %}

    {% if translate %}
        {{ data|trans}}
    {% else %}
        {{ data|raw }}
    {% endif %}
{%- endblock %}

{% block table_cell_content_empty -%}
    -
{% endblock %}
