{% extends ':template:dashboard.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {{ 'Dashboard'|trans }}
            </div>
        </div>
    </div>
{% endblock %}