{% import ':macro:flashbag.html.twig' as flashbag %}

{##}

{% set flashbagData = app.session.flashbag.all() %}
{% set flashbagOptions = { } %}

{##}

{% if flashbagData is defined and flashbagData is not null %}
    {{ flashbag.flashbag(flashbagData, flashbagOptions) }}
{% endif %}
