{% import ':macro:pagination.html.twig' as pagination %}
{% import ':macro:default.html.twig' as default %}

{##}

{% set paginationData = { } %}
{% set paginationOptions = { } %}

{##}

{% if paginationOptions.limit is not defined or paginationOptions.limit is null %}
    {% set paginationOptions = paginationOptions|merge({ limit: 10 }) %}
{% endif %}

{% set pages = calculate_pages(paginationOptions.limit, data.count) %}

{% if paginationOptions.route is not defined or paginationOptions.route is null %}
    {% set paginationOptions = paginationOptions|merge({ route: app.request.attributes.all._route }) %}
{% endif %}

{% if paginationOptions.parameters is not defined or paginationOptions.parameters is null %}
    {% set paginationOptions = paginationOptions|merge({ parameters: app.request.attributes.all._route_params }) %}
{% endif %}

{##}

{% if data is defined and data is iterable %}
    {% for key, value in 1..pages %}
        {% set path = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({ page: value })) %}
        {% set anchor = default.anchor(value, path, null) %}
        {% set paginationData = paginationData|merge([ anchor ]) %}
    {% endfor %}
{% endif %}

{##}

{% if paginationData is defined and paginationData is not null %}
    {{ pagination.pagination(paginationData, paginationOptions) }}
{% endif %}
