<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% stylesheets
    'vendor/bootstrap/dist/css/bootstrap.min.css'
    'less/sign-in.less'
    filter='cssrewrite' output='css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
    <div class="container">
        {% block fos_user_content %}{% endblock %}
    </div>
</body>
</html>
