{% import ':macro:default.html.twig' as default %}
{% import ':macro:pagination.html.twig' as pagination %}
{% import ':macro:table.html.twig' as table %}

{##}

{% set tableData = { } %}

{##}

{% if head is defined and head is iterable %}
    {% set headData = head %}
    {% if actions is defined and actions is iterable %}
        {% set headData = headData|merge([ 'table.actions' ]) %}
    {% endif %}
    {% set tableData = tableData|merge({ 'head': [ headData] }) %}
{% endif %}

{##}

{% if body is defined and body is iterable and data is defined and data is iterable %}
    {% set bodyData = [] %}
    {% for dataKey, dataValue in data %}
        {% set rowData = [] %}
        {% for key, value in body %}
            {% if value is iterable %}
                {% set rowData = rowData|merge([ recursive_attribute(dataValue, value) ]) %}
            {% else %}
                {% set rowData = rowData|merge([ attribute(dataValue, value) ]) %}
            {% endif %}
        {% endfor %}
        {% if actions is defined and actions is iterable %}
            {% set actionsData = [] %}
            {% for actionKey, actionValue in actions %}
                {% set parameters = {} %}
                {% for parameterKey, parameterValue in actionValue.parameters %}
                    {% set parameters = parameters|merge({ (parameterKey): attribute(dataValue, parameterValue) }) %}
                {% endfor %}
                {% set path = path(actionValue.route, parameters) %}
                {% set title = ('route.' ~ actionValue.route)|trans %}
                {% set glyphicon = actionKey %}
                {% set actionsData = actionsData|merge([ default.anchor(actionKey, path, title, glyphicon) ]) %}
            {% endfor %}
            {% set actionsData = actionsData|join('&nbsp;') %}
            {% set rowData = rowData|merge([ actionsData ]) %}
        {% endif %}
        {% set bodyData = bodyData|merge([ rowData ]) %}
    {% endfor %}
    {% set tableData = tableData|merge({ 'body': bodyData }) %}
{% endif %}

{##}

{% if tableData is defined and tableData is not null %}
    {{ table.table(tableData, {}) }}
{% endif %}
