{% extends ':template:dashboard.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 1.5em;">
                <div class="btn-group" role="group">
                    <a class="btn btn-success" href="{{ path('rating_rating_create', {}) }}">
                        {{ 'route.rating_rating_create'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% set head = [ '#', 'rating.rating.rate' ] %}
                {% set body = [ 'id', 'rate' ] %}
                {% set actions = {
                    'edit': { 'route': 'rating_rating_edit', 'parameters': { 'id': 'id' } },
                    'delete': { 'route': 'rating_rating_delete', 'parameters': { 'id': 'id' } }
                } %}

                {% set data = ratings %}

                {% include ':template:table.html.twig' %}
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-sm-12">
                {% include ':template:pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}